* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.tsv text eol=lf
*.csv text eol=lf
*.gz binary
*.png binary
*.pkl binary
*.gpickle binary
*.dat binary
